extends layout.pug

block title
    title="Create Account"
block content
    div(class="container")
        h1="Create Account"
        form(method="POST" action="/create-account")
            div(Class="form-group")
                input(type="text" required id="username" autocomplete="off" name="username")
                label(for="username" class="control-label")="Username"
                i(class="bar")
            div(Class="form-group")
                input(type="text" required id="email" autocomplete="off" name="email")
                label(for="email" class="control-label")="Email"
                i(class="bar")
            div(Class="form-group")
                input(type="text" required id="age" autocomplete="off" name="age")
                label(for="age" class="control-label")="Age"
                i(class="bar")
            div(Class="form-group")
                input(type="password" required id="password" autocomplete="off" name="password")
                label(for="password" class="control-label")="Password"
                i(class="bar")
            div(class="form-group")
                label(for="question1")="Favorite color out of these options"
                select(id="question1" name="question1")
                    option(value="blue")="Blue"
                    option(value="green")="Green"
                    option(value="red")="Red"
                    option(value="Purple")="Purple"
            div(class="form-group")
                label(for="question2")="Favorite type of food of these options"
                select(id="question2" name="question2")
                    option(value="italian")="Italian"
                    option(value="asain")="Asain"
                    option(value="mexican")="Mexican"
                    option(value="nigerian")="Nigerian"
            div(class="form-group")
                label(for="question3")="Favorite animal out of these options"
                select(id="question3" name="question3")
                    option(value="dog")="Dog"
                    option(value="cat")="Cat"
                    option(value="sloth")="Sloth"
                    option(value="bird")="Bird"
            div(class="button-container" id="button-container")
                input(class="button" type="submit" value="Create Account" id="button")