extends layout.pug

block title
    title="Create Account"
block content
    div(class="container")
        h1="Create Account"
        form(method="POST" action="/create-account")
            div(Class="form-group")
                input(type="text" required id="username" autocomplete="off" name="username")
                label(for="username" class="control-label")="Username"
                i(class="bar")
            div(Class="form-group")
                input(type="text" required id="email" autocomplete="off" name="email")
                label(for="email" class="control-label")="Email"
                i(class="bar")
            div(Class="form-group")
                input(type="number" required id="age" autocomplete="off" name="age")
                label(for="age" class="control-label")="Age"
                i(class="bar")
            div(Class="form-group")
                input(type="password" required id="password" autocomplete="off" name="password")
                label(for="password" class="control-label")="Password"
                i(class="bar")
            div(class="form-group")
                label(for="question1")="Favorite color out of these options"
                select(id="question1" name="question1")
                    option(disabled selected hidden)="Choose answer..."
                    option(value="1")="Blue"
                    option(value="2")="Green"
                    option(value="3")="Red"
                    option(value="4")="Purple"
            div(class="form-group")
                label(for="question2")="Favorite type of food of these options"
                select(id="question2" name="question2")
                    option(disabled selected hidden)="Choose answer..."
                    option(value="1")="Italian"
                    option(value="2")="Asian"
                    option(value="3")="Mexican"
                    option(value="4")="Nigerian"
            div(class="form-group")
                label(for="question3")="Favorite animal out of these options"
                select(id="question3" name="question3")
                    option(disabled selected hidden)="Choose answer..."
                    option(value="1")="Dog"
                    option(value="2")="Cat"
                    option(value="3")="Sloth"
                    option(value="4")="Bird"
            div(class="button-container" id="button-container")
                input(class="button" type="submit" value="Create Account" id="button")